/* body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: #ffe259;
    background: linear-gradient(to right, #ffa751, #ffe259);
  }  */
  
  .navbar {
    padding: 20px 0px;
  }
  
  img {
    border-radius: 50%;
  }
  
  
  a {
    text-decoration: none;
    font-size: 30px;
    padding: 12px 20px;
    display: block;
  }
  